<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordoñez Vasquez</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<script src="../js/scripts.js"></script>
<body>
        <div class="contenido">
        <h1>Edades</h1> 
        <form action="">
            <div class="datos">
                <p>Ingrese las edades separadas por comas según corresponda</p>
                <center><p>TM = Turno Mañana<br>TT = Turno Tarde<br>TN = Turo Noche</p></center>
                <input id="id_edades_manana"type="text" placeholder="Ingrese 5 edades TM" required>
                <input id="id_edades_tarde"type="text" placeholder="Ingrese 6 edades TT" required>
                <input id="id_edades_noche"type="text" placeholder="Ingrese 11 edades TN" required>
                <button type="submit" onclick="validarEdades()">Aceptar</button>
                <button onclick="window.location.href='../../index.html'">Menu Principal</button>
            </div>
        </form>
    </div>
    
</body>
    <footer>
        <p>Ordoñez Vasquez. Todos los derechos reservados. 2024</p>
    </footer>
</html>