<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordoñez Vasquez</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<script src="../js/scripts.js"></script>
<body>
        <div class="contenido">
        <h1>Destinos Turísticos</h1> 
        <form action="">
            <div class="datos">
                <p>Selecione su Salida y destino</p>
                <select required id="id_salida">
                    <option value="" disabled selected>Seleccione Lugar de Salida</option>
                    <option value="FORD FIESTA">Ciudad de Palma</option>
                </select>
                <select required id="id_destino">
                    <option value="" disabled selected>Seleccione Lugar de Destino</option>
                    <option value="COSTA DEL SOL">COSTA DEL SOL</option>
                    <option value="PANCHIMALCO">PANCHIMALCO</option>
                    <option value="PUERTO EL TRIUNFO">PUERTO EL TRIUNFO</option>
                </select>
                <label id="descuentos_d" for="">Selecciona un destino para ver su descuento</label>
                <button type="submit" onclick="calcularDescuento()">Aceptar</button>
                <button onclick="window.location.href='../../menu.html'">Menu Principal</button>
            </div>
        </form>
    </div>
    
</body>
    <footer>
        <p>Ordoñez Vasquez. Todos los derechos reservados. 2024</p>
    </footer>
</html>