<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordoñez Vasquez</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<script src="../js/scripts.js"></script>
<body>
        <div class="contenido">
        <h1>Números Enteros</h1> 
        <form action="">
            <div class="datos">
                <p>Ingrese 10 numeros enteros separados por comas</p>
                <input id="id_numeros"type="text" placeholder="Ingrese 10 números" required>
                <button type="submit" onclick="validarNumeros()">Aceptar</button>
                <button onclick="window.location.href='../../index.html'">Menu Principal</button>
            </div>
        </form>
    </div>
    
</body>
    <footer>
        <p>Ordoñez Vasquez. Todos los derechos reservados. 2024</p>
    </footer>
</html>